<div class="quizz__container">
    <div class="quizz-logo">
        <img src="assets/imgs/logo.png" alt="" srcset="">
        <h3>Título</h3>
    </div>

    <div class="quizz-questions">
        <h3>questão selecionada</h3>
    </div>

    <div class="quizz-options">
        <button
            class="btn-options"
            >
            optionname
        </button>
    </div>
              
    <div class="quizz-results">
        <h1>O seu resultado é:</h1>
        <p>Resposta Selecionada</p>
    </div>

</div>
        
